@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.app {
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 101%;
    max-height: 101%;

    // overflow: auto;
    overflow: none;
}

.correct_words,
.used_letters,
.score,
.high_score,
.highest_scoring_word {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #4d4749;
}

.score {
    font-size: 65px;
    // margin-top: 50px;
}

textarea {
    font-size: 14px;
    width: 95%;
    display: flex;
    justify-content: center;
    resize: none;
    border-color: lightgray;
}

.butt {
    border: 1px outset white;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;

    background-color: white;
    height: 80px; // 150px for desktop, 100px for mobile
    width: 80px; //150px for desktop, 100px for mobile
    max-width: 110px;
    max-height: 110px;
    position:relative;
    
    // margin-top: 60px; // for mobile
    cursor: pointer;
    // margin-right: 7px;
    font-size: 50px;
    color: white;
    // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Co";
}

.butt:hover:enabled,
.user_letters:hover:enabled,
.butt-sm:hover:enabled,
.control:hover:enabled,
.words_button:hover:enabled {
    filter: brightness(90%);
    cursor: pointer;
}

.user_letters {
    // border: none;
    // border-radius: 5px;

    border: 1px outset white;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;

    background-color: rgb(160, 160, 160);
    height: 80px;
    width: 80px;
    max-width: 110px;
    max-height: 110px;
    cursor: pointer;
    // font-size: 50px;
    color: rgb(92, 92, 92);
    // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Co";
}

.butt-sm {
    border: none;
    border-radius: 7px;
    background-color: rgb(224, 224, 224);
    height: 80px; // 80px for desktop
    width: 8vw; //60px for desktop, 33px for mobile
    max-width: 50px;
    max-height: 70px;
    margin-right: 8px;
    font-size: 20px;
}

.control {
    border: 1px outset rgb(54, 54, 54);
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    color: rgb(54, 54, 54);
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin-right: 8px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.control:disabled {
    opacity: 0.3;
    cursor: auto;
}

.words_button {
    border: 2px outset rgb(54, 54, 54);
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    color: rgb(54, 54, 54);
    // margin-top: 15px;
    // padding-top:10px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.letters {
    display: inline-block;
    position: relative;
}

.container {
    // margin-top: 50px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    // display: flex;
    // justify-content: center;
}

.used_letter_row {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.used_letter_icon {
    display: inline-block;
    flex-grow: 1;
    width: 25px;
    text-align: center;
    margin-right: 5px;
}

.stats_modal {
    position: fixed;
    height: 500px;
    width: 360px;
    top: 50%;
    left: 50%;
    background-color: white;
    // border: 10px solid rgb(232, 232, 232);
    border-radius: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.tutorial_modal {
    position: fixed;
    height: 550px;
    width: 390px;
    top: 50%;
    left: 50%;
    background-color: white;
    // border: 10px solid rgb(232, 232, 232);
    border-radius: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.words_modal {
    position: fixed;
    height: 550px;
    width: 330px;
    top: 50%;
    left: 50%;
    background-color: white;
    // border: 10px solid rgb(232, 232, 232);
    border-radius: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.modal_text {
    display: flex;
    justify-content: center;
    font-size: 20px;
    // font-family: 'Co';
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.you_lose {
    // position: fixed;
    // display: flex;
    // justify-content: center;
    height: 450px;
    width: 360px;
    // top: 50%;
    // left: 50%;
    background-color: white;
    // border: 10px solid rgb(232, 232, 232);
    border-radius: 8px;
    // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);

    // -moz-box-shadow: 0 0 3px #ccc;
    // -webkit-box-shadow: 0 0 3px #ccc;
    // box-shadow: 0 0 10px #ccc;
}

.point_value {
    text-align: center;
    font-size: 34px;
    // margin-bottom: 50px;
    opacity: 0;
    // position: fixed;
    // margin-left: 32px; // 66px for desktop
    // margin-top: -92px;
    margin-bottom: 10px;
    filter: brightness(80%);
}

.social_media_icon {
    padding: 5px;
}

.alert_text {
    font-size: 18px;
    color: rgb(63, 63, 63);
    margin-top:20px;
}

.header {
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: white;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #4d4749;
    border-bottom: 1px solid rgb(184, 184, 184);
}

ul {
    display: flex;
    justify-content: flex-end;
    // margin: 0 auto;
    // vertical-align: middle;
    // width: fit-content;
    // height: fit-content;
    // box-sizing: border-box;
    // padding: 20px;
    li {
        list-style: none;
        margin-right: 20px;
        // font-size: 25px;
        font-weight: bold;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    // padding: 10px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    // font-size: 20px;
    color: #4d4749;
    border-bottom: 1px solid rgb(184, 184, 184);
    justify-content: flex-end;
}

a:hover {
    cursor: pointer;
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
    -o-filter: brightness(150%);
    -moz-filter: brightness(150%);
}

.item {
    padding: 10px;
    font-size: 20px;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #4d4749;
    padding: 5px;
    // text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    // border-bottom: 1px solid rgb(184, 184, 184);
}

.data {
    padding-left: 10px;
    // text-align: center;
}

/* unvisited link */
// a:link {
//     background-color: red;
// }

// /* visited link */
// a:visited {
//     background-color: green;
// }

// /* mouse over link */
// a:hover {
//     // background-color: #de5445;
//     // color: white;
//     filter: none;
// }

// /* selected link */
// a:active {
//     // background-color: #de5445;
//     // color: white;
//     filter: none;
// }

.tabs {
    padding: 8px;
    margin-top: 10px;
    border: 1px solid rgb(160, 160, 160);
    width: 20%;
    text-align: center;
}

.tabs_active {
    background-color: #de5445;
    color: white;
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
    pointer-events: none;
    font-weight: bold;
    border: none;
    filter: none;
}

hr {
    background-color: #ccc;
    color: #ccc;
}

.blur-background_in {
    filter: blur(30px);
    -webkit-filter: blur(30px);
    -o-filter: blur(30px);
    -moz-filter: blur(30px);

    pointer-events: none;

    transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
}

.in {
    animation: blurin 0.3s, linear forwards;
    -o-animation: blurin 0.3s, linear forwards;
    -moz-animation: blurin 0.3s, linear forwards;
    -webkit-animation: blurin 0.3s, linear forwards;
}

.blur-background_out {
    animation: blurout 0.3s, linear forwards;
    -o-animation: blurout 0.3s, linear forwards;
    -moz-animation: blurout 0.3s, linear forwards;
    -webkit-animation: blurout 0.3s, linear forwards;
}

.bounce {
    animation: bounce 1s ease 1;
    -o-animation: bounce 1s ease 1;
    -moz-animation: bounce 1s ease 1;
    -webkit-animation: bounce 1s ease 1;
}

.point_animation {
    opacity: 1;
    animation: fadein 0.25s linear forwards, rise 7s ease 1, fadeout 2.5s linear forwards;
    -o-animation: fadein 0.25s linear forwards, rise 7s ease 1, fadeout 2.5s linear forwards;
    -moz-animation: fadein 0.25s linear forwards, rise 7s ease 1, fadeout 2.5s linear forwards;
    -webkit-animation: fadein 0.25s linear forwards, rise 7s ease 1, fadeout 2.5s linear forwards;
}

.console_animation_in {
    opacity: 1;
    animation: fadein 0.5s linear forwards;
    -o-animation: fadein 0.5s linear forwards;
    -moz-animation: fadein 0.5s linear forwards;
    -webkit-animation: fadein 0.5s linear forwards;
}

.console_animation_out {
    opacity: 1;
    animation: fadeout 1s linear forwards;
    -o-animation: fadeout 1s linear forwards;
    -moz-animation: fadeout 1s linear forwards;
    -webkit-animation: fadeout 1s linear forwards;
}

.fadein {
    animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
}

.modal_fadein {
    animation: fadein 0.3s linear forwards;
    -o-animation: fadein 0.3s linear forwards;
    -moz-animation: fadein 0.3s linear forwards;
    -webkit-animation: fadein 0.3s linear forwards;
}

.modal_fadeout {
    animation: fadeout 0.5s linear forwards;
    -o-animation: fadeout 0.5s linear forwards;
    -moz-animation: fadeout 0.5s linear forwards;
    -webkit-animation: fadeout 0.5s linear forwards;
}

// .modal_appear {
//     animation: modal_appear 0.5s;
// }

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1, 1) translateY(0);
    }
    30% {
        transform: scale(1, 1) translateY(-20px);
    }
    50% {
        transform: scale(1, 1) translateY(0);
    }
    // 58%  { transform: scale(1,1) translateY(-7px); }
    65% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@-o-keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1, 1) translateY(0);
    }
    30% {
        transform: scale(1, 1) translateY(-55px);
    }
    50% {
        transform: scale(1, 1) translateY(0);
    }
    // 58%  { transform: scale(1,1) translateY(-7px); }
    65% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@-moz-keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1, 1) translateY(0);
    }
    30% {
        transform: scale(1, 1) translateY(-55px);
    }
    50% {
        transform: scale(1, 1) translateY(0);
    }
    // 58%  { transform: scale(1,1) translateY(-7px); }
    65% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1, 1) translateY(0);
    }
    30% {
        transform: scale(1, 1) translateY(-55px);
    }
    50% {
        transform: scale(1, 1) translateY(0);
    }
    // 58%  { transform: scale(1,1) translateY(-7px); }
    65% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes rise {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1, 1) translateY(-40px);
    }
    30% {
        transform: scale(1, 1) translateY(-40px);
    }
    50% {
        transform: scale(1, 1) translateY(-40px);
    }
    // 58%  { transform: scale(1,1) translateY(-7px); }
    65% {
        transform: scale(1, 1) translateY(-40px);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@-o-keyframes rise {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1, 1) translateY(-40px);
    }
    30% {
        transform: scale(1, 1) translateY(-40px);
    }
    50% {
        transform: scale(1, 1) translateY(-40px);
    }
    // 58%  { transform: scale(1,1) translateY(-7px); }
    65% {
        transform: scale(1, 1) translateY(-40px);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@-webkit-keyframes rise {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1, 1) translateY(-40px);
    }
    30% {
        transform: scale(1, 1) translateY(-40px);
    }
    50% {
        transform: scale(1, 1) translateY(-40px);
    }
    // 58%  { transform: scale(1,1) translateY(-7px); }
    65% {
        transform: scale(1, 1) translateY(-40px);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@-moz-keyframes rise {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1, 1) translateY(-40px);
    }
    30% {
        transform: scale(1, 1) translateY(-40px);
    }
    50% {
        transform: scale(1, 1) translateY(-40px);
    }
    // 58%  { transform: scale(1,1) translateY(-7px); }
    65% {
        transform: scale(1, 1) translateY(-40px);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    // 0%,50% {
    //     opacity: 0;
    // }
    50% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeout {
    // 0%,50% {
    //     opacity: 0;
    // }
    50% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    // 0%,50% {
    //     opacity: 0;
    // }
    50% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    // 0%,50% {
    //     opacity: 0;
    // }
    50% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

@keyframes blurout {
    from {
        filter: blur(30px);
    }
    to {
        filter: none;
    }
}

@-o-keyframes blurout {
    from {
        filter: blur(30px);
    }
    to {
        filter: none;
    }
}

@-moz-keyframes blurout {
    from {
        filter: blur(30px);
    }
    to {
        filter: none;
    }
}

@-webkit-keyframes blurout {
    from {
        filter: blur(30px);
    }
    to {
        filter: none;
    }
}

@keyframes blurin {
    from {
        filter: none;
    }
    to {
        filter: blur(30px);
    }
}

@-o-keyframes blurin {
    from {
        filter: none;
    }
    to {
        filter: blur(30px);
    }
}

@-webkit-keyframes blurin {
    from {
        filter: none;
    }
    to {
        filter: blur(30px);
    }
}

@-moz-keyframes blurin {
    from {
        filter: none;
    }
    to {
        filter: blur(30px);
    }
}

// @keyframes modal_appear {
//     from {
//         transform: scale(0.5, 0.5);
//         // transform: translate(-50%, -50%)
//     }
//     to {
//         transform: scale(1, 1);
//     }
// }

.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block;
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em;
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
    width: 40px;
    height: 40px;
    margin-right: 0.4em;
    vertical-align: top;
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle;
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9;
}

.resp-sharing-button--pinterest {
    background-color: #bd081c;
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615;
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373;
}

.resp-sharing-button--tumblr {
    background-color: #35465c;
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c;
}

.resp-sharing-button--reddit {
    background-color: #5f99cf;
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1;
}

.resp-sharing-button--google {
    background-color: #dd4b39;
}

.resp-sharing-button--google:hover {
    background-color: #c23321;
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293;
}

.resp-sharing-button--email {
    background-color: #777;
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e;
}

.resp-sharing-button--xing {
    background-color: #1a7576;
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c;
}

.resp-sharing-button--whatsapp {
    background-color: #25d366;
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851;
}

.resp-sharing-button--hackernews {
    background-color: #ff6600;
}
.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
    background-color: #fb6200;
}

.resp-sharing-button--vk {
    background-color: #507299;
}

.resp-sharing-button--vk:hover {
    background-color: #43648c;
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--tumblr {
    background-color: #35465c;
    border-color: #35465c;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
    background-color: #222d3c;
    border-color: #222d3c;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
    background-color: #bd081c;
    border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
    background-color: #8c0615;
    border-color: #8c0615;
}
