<div class="app" id="app">

  <header>
    <div class="header_items" style="display: flex;justify-content: flex-end;">
      <!-- <button></button> -->
      <a (click)="statsModal(true)">
        <mat-icon style="font-size:40px;padding-right:20px;">equalizer</mat-icon>
      </a>
      <mat-icon style="font-size:40px;padding-right:20px;">settings</mat-icon>
      <!-- <span class="item">STATS</span>
      <span class="item">SETTINGS</span> -->
    </div>
  </header>

  <br>
  <br>

  <div class="data">
    <div class="correct_words">
      <div style="font-size: 40px;"><b>{{starting_word}}</b></div>
      Correct Words: <span *ngFor="let word of correct_words"><b>{{word}}</b>, </span>
    </div>

    <div class="used_letters">
      <div class="used_letter_row">
        Used Letters:&nbsp;
        <div *ngFor="let letter of used_letters">
          <div class="used_letter_icon" [style.background-color]="letter.point_color" [style.color]="letter.font_color">
            {{letter.name}}</div>
        </div>
      </div>
    </div>

    <br />

    <div class="score">SCORE: <b>{{total_score}}</b></div>

    <div *ngIf="user?.high_score !== undefined" class="high_score">HIGH SCORE: <b>{{user?.high_score}}</b></div>

  </div>


  <!-- CELLS -->
  <div class="container">
    <div *ngFor="let cell of cells; let i = index" class="letters">
      <div class="point_value" id="point_value_{{cell.name}}"
        [style.margin-left]="cell.point_value === 10 ? '53px' : '66px'" [style.color]="cell.color">
        <b>{{cell.point_value}}</b>
      </div>
      <button class="butt" id="container_{{cell.name}}" [disabled]="letter_selected"
        [style.cursor]="letter_selected ? 'auto' : 'cursor'" [style.background-color]="cell.color"
        [style.color]="cell.font_color" [style.border-color]="cell.selected ? '#2b2827' : 'white'"
        (click)="cellClicked(i)">{{cell.value}}</button>
    </div>
  </div>


  <!-- KEYBOARD -->
  <div *ngIf="show_keyboard" id="keyboard" [style.opacity]="keyboard_opacity"
    [style.pointer-events]="keyboard_opacity === '1.0' ? 'auto' : 'none'" class="keyboard">

    <div style="display: flex; justify-content: center; margin-top: 55px;">
      <div *ngFor="let key of keyboard_top;">
        <button class="butt-sm" [disabled]="!key.enabled || you_lose_modal_open || stats_modal_open"
          [style.background-color]="key.point_color" [style.opacity]="key.opacity" [style.color]="key.font_color"
          style="font-weight: bold;" (click)="keyboardClicked(key.name)">{{key.name}}</button>
      </div>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 8px;">
      <div *ngFor="let key of keyboard_middle;">
        <button class="butt-sm" [disabled]="!key.enabled || you_lose_modal_open || stats_modal_open"
          [style.background-color]="key.point_color" [style.opacity]="key.opacity" [style.color]="key.font_color"
          style="font-weight: bold;" (click)="keyboardClicked(key.name)">{{key.name}}</button>
      </div>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 8px;">
      <div *ngFor="let key of keyboard_bottom;">
        <button class="butt-sm" [disabled]="!key.enabled || you_lose_modal_open || stats_modal_open"
          [style.background-color]="key.point_color" [style.opacity]="key.opacity" [style.color]="key.font_color"
          style="font-weight: bold;" (click)="keyboardClicked(key.name)">{{key.name}}</button>
      </div>
    </div>
  </div>

  <!-- USER LETTERS -->
  <div *ngIf="letter_selected">
    <div style="display: flex; justify-content: center; margin-top: 30px;">
      <div *ngFor="let letter of user_letters; let i = index" class="letters">
        <button class="user_letters" [disabled]="!letter.enabled" [style.background-color]="letter.color"
          [style.color]="letter.font_color" [style.opacity]="letter.enabled ? '1.0' : '0.25'"
          (click)="userLetterClicked(i)">{{letter.value}}</button>
      </div>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 20px;">
      <div *ngFor="let control of user_letter_controls">
        <button *ngIf="control.id === 'enter'" class="control" [disabled]="cells[4].value === ''"
          (click)="controlClicked(control.id)">{{control.display}}</button>
        <button *ngIf="control.id === 'delete'" class="control" [disabled]="cells[0].value === ''"
          (click)="controlClicked(control.id)">
          {{control.display}}
        </button>
      </div>
    </div>
  </div>


  <div class="footer">
    <div style="display: flex;">Created by Lou DiMuro</div>
  </div>

</div>


<!-- YOU LOSE MODAL -->
<div [hidden]="!you_lose_modal_open" class="you_lose_modal" id="you_lose_modal">
  <div>
    <div style="text-align: center; font-size: 30px; padding: 10px; margin-top: 10px;"><b>YOU LOSE!</b></div>
    <div style="text-align: center;font-size: 18px;">"{{losing_word}}" is not a word</div>

    <br>

    <div style="text-align: center;font-size: 22px; padding: 10px;">Final Score: <b>{{final_score}}
        ({{game_over_correct_words.length}} word<span *ngIf="game_over_correct_words.length !== 1">s</span>)</b></div>

    <div *ngIf="final_score !== undefined && todays_game_data" style="text-align: center;font-size: 22px; padding: 10px;">Today's Average:
      <b>{{todays_game_data?.average_score}}</b>
    </div>

    <div *ngIf="final_score !== undefined && percentile_data" style="text-align: center;font-size: 22px; padding: 10px;">You were better than
      <b>{{percentile_data.percentile}}%</b> of players today
      <div style="text-align: center;font-size: 22px; padding: 10px;">
        {{percentile_data.percentile_graphic}}
      </div>
    </div>

    <br>
    <br>

    <button (click)="youLoseModal(false)" style="font-size: 20px; border-width: 2px; margin:0 auto; display:block;"
      class="control">PLAY AGAIN</button>
  </div>
</div>


<!-- STATS MODAL -->
<div [hidden]="!stats_modal_open" class="modal stats_modal" id="stats_modal">
  <div>
    <div class="header_items" style="display: flex;justify-content: flex-end;">
      <a (click)="statsModal(false)">
        <mat-icon style="font-size: 30px; padding-right:15px; padding-top: 10px;">close</mat-icon>
      </a>
    </div>
    <div style="font-size: 30px; text-align: center"><b>STATISTICS</b></div>
  </div>

  <div *ngIf="stats_modal_open" style="margin-top: 20px; padding: 10px;">
    <div class="modal_text"><b>High Score</b></div>
    <div class="modal_text" style="font-size:25px"><b>{{user?.high_score}}</b></div>

    <br>

    <div class="modal_text"><b>Highest Scoring Word</b></div>
    <div class="modal_text" style="font-size:25px"><b>"{{user.highest_scoring_word.word}}" -
        {{user.highest_scoring_word.score}} points</b></div>

    <br>

    <div class="modal_text"><b>Games Played</b></div>
    <div class="modal_text" style="font-size:25px"><b>{{user.games_played.length}}</b></div>

    <br>

    <div class="modal_text"><b>Average Score per Game</b></div>
    <div class="modal_text" style="font-size:25px"><b>{{user.average_score_per_game}} points</b></div>
  </div>
</div>



<router-outlet></router-outlet>