<div class="app" id="app">

  <header>
    <div class="header_items" style="display: flex;justify-content: flex-end;">
      <a (click)="contactModal(true)">
        <mat-icon style="font-size:35px;padding-right:20px;margin-top:2px;">mail_outline</mat-icon>
      </a>
      <a (click)="statsModal(true)">
        <mat-icon style="font-size:35px;padding-right:20px;margin-top:2px;">equalizer</mat-icon>
      </a>
      <a (click)="tutorialModal(true)">
        <span style="font-size:35px;padding-right:20px;margin-top:2px;font-weight: bold;font-family: 'Arial'">?</span>
      </a>
    </div>
  </header>

  <br>
  <br>

  <div *ngIf="!you_lose_open && !you_win_open" class="game">
    <div class="data">
      <div class="correct_words" style="display: flex; justify-content:space-between;">
        <div style="padding-top:18px;"><button class="control" style="padding: 5px;"
            (click)="wordsModal(true)">WORDS</button></div>
        <div style="font-size: 40px; font-family: 'Co'; margin-top: 15px;"><b>{{starting_word}}</b></div>
        <div style="font-size: 39px; font-family: 'Co'; margin-top: 15px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
      </div>

      <div class="used_letters">
        <div class="used_letter_row">
          <div *ngFor="let letter of used_letters;">
            <div class="used_letter_icon" [style.background-color]="letter.point_color"
              [style.color]="letter.font_color">
              {{letter.name}}</div>
          </div>
        </div>
      </div>

      <br />

      <div class="score" style="text-align: center;"><b>{{total_score}}</b></div>

      <div *ngIf="user?.high_score !== undefined" class="high_score" style="text-align: center;">BEST:
        <b>{{user?.high_score}}</b>
      </div>

    </div>


    <!-- CELLS -->
    <div class="container">
      <div *ngFor="let cell of cells; let i = index" class="letters">
        <div class="point_value" id="point_value_{{cell.name}}" [style.color]="cell.color">
          <b>{{cell.point_value}}</b>
        </div>
        <button class="butt" id="container_{{cell.name}}" [disabled]="letter_selected"
          [style.cursor]="letter_selected ? 'auto' : 'cursor'" [style.background-color]="cell.color"
          [style.color]="cell.font_color" [style.border-color]="cell.selected ? '#2b2827' : 'white'"
          (click)="cellClicked(i)">{{cell.value}}</button>
      </div>
    </div>

    <!-- REMOVE -->
    <br>
    <br>
    <br>
    <span style="display: flex; justify-content: center; margin-top:20px;" id="console"
      [style.visibility]="console_text_hidden ? 'hidden' : 'visible'">{{console_text}}</span>
    <br>
    <br>
    <!-- END REMOVE -->


    <!-- KEYBOARD -->
    <div *ngIf="show_keyboard" id="keyboard" style="margin-left: 8px;" [style.opacity]="keyboard_opacity"
      [style.pointer-events]="((keyboard_opacity === '1.0' && keyboard_enabled) ? 'auto' : 'none')" class="keyboard">

      <div style="display: flex; justify-content: center;">
        <div *ngFor="let key of keyboard_top;">
          <button class="butt-sm" [disabled]="!key.enabled || you_lose_open || stats_modal_open"
            [style.background-color]="key.point_color" [style.opacity]="key.opacity" [style.color]="key.font_color"
            style="font-weight: bold;" (click)="keyboardClicked(key.name)">{{key.name}}</button>
        </div>
      </div>

      <div style="display: flex; justify-content: center; margin-top: 8px;">
        <div *ngFor="let key of keyboard_middle;">
          <button class="butt-sm" [disabled]="!key.enabled || you_lose_open || stats_modal_open"
            [style.background-color]="key.point_color" [style.opacity]="key.opacity" [style.color]="key.font_color"
            style="font-weight: bold;" (click)="keyboardClicked(key.name)">{{key.name}}</button>
        </div>
      </div>

      <div style="display: flex; justify-content: center; margin-top: 8px;">
        <div *ngFor="let key of keyboard_bottom;">
          <button class="butt-sm" [disabled]="!key.enabled || you_lose_open || stats_modal_open"
            [style.background-color]="key.point_color" [style.opacity]="key.opacity" [style.color]="key.font_color"
            style="font-weight: bold;" (click)="keyboardClicked(key.name)">{{key.name}}</button>
        </div>
      </div>
    </div>

    <!-- USER LETTERS -->
    <div *ngIf="letter_selected">
      <div style="display: flex; justify-content: center; margin-top: 30px;">
        <div *ngFor="let letter of user_letters; let i = index" class="letters">
          <button class="user_letters" [disabled]="!letter.enabled" [style.background-color]="letter.color"
            [style.color]="letter.font_color" [style.opacity]="letter.enabled ? '1.0' : '0.25'"
            (click)="userLetterClicked(i)">{{letter.value}}</button>
        </div>
      </div>

      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <div *ngFor="let control of user_letter_controls">
          <button *ngIf="control.id === 'ENTER'" class="control" [disabled]="cells[4].value === ''"
            (click)="controlClicked(control.id)">{{control.display}}</button>
          <button *ngIf="control.id === 'BACKSPACE'" class="control" [disabled]="cells[0].value === ''"
            (click)="controlClicked(control.id)">
            {{control.display}}
          </button>
          <button *ngIf="control.id === 'GO-BACK'" class="control" (click)="controlClicked(control.id)">
            {{control.display}}
          </button>
        </div>
      </div>
    </div>

    <!-- Sharingbutton Facebook -->
    <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsharingbuttons.io"
      target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
        <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm3.6 11.5h-2.1v7h-3v-7h-2v-2h2V8.34c0-1.1.35-2.82 2.65-2.82h2.35v2.3h-1.4c-.25 0-.6.13-.6.66V9.5h2.34l-.24 2z" />
          </svg>
        </div>
      </div>
    </a>

    <!-- Sharingbutton Twitter -->
    <a class="resp-sharing-button__link"
      href="https://twitter.com/intent/tweet/?text=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;url=http%3A%2F%2Fsharingbuttons.io"
      target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--small">
        <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm5.26 9.38v.34c0 3.48-2.64 7.5-7.48 7.5-1.48 0-2.87-.44-4.03-1.2 1.37.17 2.77-.2 3.9-1.08-1.16-.02-2.13-.78-2.46-1.83.38.1.8.07 1.17-.03-1.2-.24-2.1-1.3-2.1-2.58v-.05c.35.2.75.32 1.18.33-.7-.47-1.17-1.28-1.17-2.2 0-.47.13-.92.36-1.3C7.94 8.85 9.88 9.9 12.06 10c-.04-.2-.06-.4-.06-.6 0-1.46 1.18-2.63 2.63-2.63.76 0 1.44.3 1.92.82.6-.12 1.95-.27 1.95-.27-.35.53-.72 1.66-1.24 2.04z" />
          </svg>
        </div>
      </div>
    </a>

    <!-- Sharingbutton Tumblr -->
    <a class="resp-sharing-button__link"
      href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;caption=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;content=http%3A%2F%2Fsharingbuttons.io&amp;canonicalUrl=http%3A%2F%2Fsharingbuttons.io&amp;shareSource=tumblr_share_button"
      target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--tumblr resp-sharing-button--small">
        <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
          <svg version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
            enable-background="new 0 0 24 24" xml:space="preserve">
            <path
              d="M12,0C5.383,0,0,5.383,0,12s5.383,12,12,12s12-5.383,12-12S18.617,0,12,0z M15.492,17.616C11.401,19.544,9.5,17,9.5,14.031 V9.5h-2V8.142c0.549-0.178,1.236-0.435,1.627-0.768c0.393-0.334,0.707-0.733,0.943-1.2c0.238-0.467,0.401-0.954,0.49-1.675H12.5v3h2 v2h-2v3.719c0,2.468,1.484,2.692,2.992,1.701V17.616z" />
          </svg>
        </div>
      </div>
    </a>

    <!-- Sharingbutton Pinterest -->
    <a class="resp-sharing-button__link"
      href="https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fsharingbuttons.io&amp;media=http%3A%2F%2Fsharingbuttons.io&amp;description=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking."
      target="_blank" rel="noopener" aria-label="">
      <div class="resp-sharing-button resp-sharing-button--pinterest resp-sharing-button--small">
        <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solidcircle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12 0C5.38 0 0 5.38 0 12s5.38 12 12 12 12-5.38 12-12S18.62 0 12 0zm1.4 15.56c-1 0-1.94-.53-2.25-1.14l-.65 2.52c-.4 1.45-1.57 2.9-1.66 3-.06.1-.2.07-.22-.04-.02-.2-.32-2 .03-3.5l1.18-5s-.3-.6-.3-1.46c0-1.36.8-2.37 1.78-2.37.85 0 1.25.62 1.25 1.37 0 .85-.53 2.1-.8 3.27-.24.98.48 1.78 1.44 1.78 1.73 0 2.9-2.24 2.9-4.9 0-2-1.35-3.5-3.82-3.5-2.8 0-4.53 2.07-4.53 4.4 0 .5.1.9.25 1.23l-1.5.82c-.36-.64-.54-1.43-.54-2.28 0-2.6 2.2-5.74 6.57-5.74 3.5 0 5.82 2.54 5.82 5.27 0 3.6-2 6.3-4.96 6.3z" />
          </svg>
        </div>
      </div>
    </a>


  </div>

  <!-- YOU LOSE SCREEN -->
  <div *ngIf="you_lose_open" style="display: flex; justify-content: center;">
    <div [hidden]="!you_lose_open" class="you_lose" id="you_lose">
      <div>
        <div style="text-align: center; font-size: 30px; padding: 10px; margin-top: 10px; font-family: 'Co'"><b>YOU
            LOSE!</b></div>
        <div style="text-align: center;font-size: 18px;">"{{losing_word}}" is not a word</div>

        <br>

        <div style="text-align: center;font-size: 22px; padding: 10px;">
          <div class="modal_text" style="font-family: 'Co';"><b>Final Score</b></div>
          <div class="modal_text" style="font-size:25px"><b>{{final_score}}</b></div>
        </div>

        <div style="display: flex; justify-content: center;">
          <div style="text-align: left; font-size: 22px; padding: 10px; width: 90%;">
            <div class="modal_text" style="font-family: 'Co';"><b>Correct Words ({{game_over_correct_words.length}})</b>
            </div>
              <div style="font-family:'Courier New', Courier, monospace;">
                {{game_over_correct_words_formatted}}</div>
          </div>
        </div>

        <br>
        <hr class="solid" style="width: 75%;">
        <br>

        <div *ngIf="final_score !== undefined && todays_game_data"
          style="text-align: center;font-size: 22px; padding: 10px;">
          <div class="modal_text" style="font-family: 'Co';"><b>Today's Average</b></div>
          <div class="modal_text" style="font-size:25px"><b>{{todays_game_data?.average_score}}</b></div>
        </div>

        <div
          *ngIf="final_score !== undefined && percentile_data && todays_game_data.raw_scores?.length > 1; else elseBlock"
          style="text-align: center;font-size: 22px; padding: 10px;">
          <div>
            <div *ngIf="!percentile_data.special_case?.message; else specialCase">
              You were better than<b> {{percentile_data.percentile}}%</b> of players today
            </div>
            <ng-template #specialCase>
              <div [style.color]="percentile_data.special_case?.color">
                <b>{{percentile_data.special_case.message}}</b>
              </div>
            </ng-template>

            <div style="text-align: center;font-size: 22px; padding: 10px;">
              {{percentile_data.percentile_graphic}}
            </div>
          </div>

        </div>
        <ng-template #elseBlock style="text-align: center;font-size: 22px; padding: 10px;">
          <div style="text-align: center;font-size: 22px; padding: 10px;">
            You are today's first player! Check back later for updated results
          </div>
        </ng-template>

        <br>

        <div style="display: flex; justify-content:center;">
          <button (click)="youLose(false)" style="font-size: 20px; border-width: 2px;" class="control">PLAY
            AGAIN</button>
          <button style="font-size: 20px; border-width: 2px;" class="control">SHARE</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="you_win_open" style="display: flex; justify-content: center;">
    <div>
      <div style="text-align: center; font-size: 30px; padding: 10px; margin-top: 10px; font-family: 'Co'"><b>PERFECT
          SCORE!</b></div>

      <div style="text-align: center;font-size: 22px; padding: 10px;">
        <div class="modal_text" style="font-family: 'Co';"><b>Final Score</b></div>
        <div class="modal_text" style="font-size:25px"><b>{{final_score}} ({{game_over_correct_words.length}}
            word<span *ngIf="game_over_correct_words.length !== 1">s</span>)</b></div>
      </div>

      <div style="text-align: center;font-size: 22px; padding: 10px;">
        Out of <b>1016 games</b>, this has only happened
        <b>2</b> times. That's pretty rad.
      </div>

      <br>

      <div style="display: flex; justify-content:center;">
        <button (click)="youWin(false)" style="font-size: 20px; border-width: 2px;" class="control">PLAY
          AGAIN</button>
        <button style="font-size: 20px; border-width: 2px;" class="control">SHARE</button>
      </div>
    </div>
  </div>



</div>





<!-- STATS MODAL -->
<div [hidden]="!stats_modal_open" class="modal stats_modal" id="stats_modal">
  <div>
    <div class="header_items" style="display: flex;justify-content: flex-end;">
      <a (click)="statsModal(false)">
        <mat-icon style="font-size: 30px; padding-right:15px; padding-top: 10px;">close</mat-icon>
      </a>
    </div>
    <div style="font-size: 30px; text-align: center; font-family: 'Co'"><b>STATISTICS</b></div>
  </div>



  <div style="display: flex; justify-content: center; padding:10px;">
    <a class="tabs" (click)="navigateStatsModalTabs(false)" style="border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;" [ngClass]="{'tabs_active': stats_step_num === 1}">Personal</a>
    <a class="tabs" style="border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;" (click)="navigateStatsModalTabs(true)"
      [ngClass]="{'tabs_active': stats_step_num === 2}">Global</a>
  </div>



  <!-- Personal stats -->
  <div *ngIf="stats_step_num === 1; else step_2">
    <div *ngIf="stats_modal_open" style="padding: 10px;">
      <div class="modal_text" style="font-family: 'Co';"><b>High Score</b></div>
      <div class="modal_text" style="font-size:25px"><b>{{user?.high_score}}</b></div>

      <br>

      <div class="modal_text" style="font-family: 'Co';"><b>Highest Scoring Word</b></div>
      <div class="modal_text" style="font-size:25px;"><b>"{{user?.highest_scoring_word.word}}" -
          {{user.highest_scoring_word.score}} points</b></div>

      <br>

      <div class="modal_text" style="font-family: 'Co';"><b>Games Played</b></div>
      <div class="modal_text" style="font-size:25px"><b>{{user?.games_played.length}}</b></div>

      <br>

      <div class="modal_text" style="font-family: 'Co';"><b>Average Score per Game</b></div>
      <div class="modal_text" style="font-size:25px"><b>{{user?.average_score_per_game}} points</b></div>
    </div>
  </div>
  <!-- Global stats -->
  <ng-template #step_2>
    <div *ngIf="stats_modal_open" style="padding: 10px;">
      <div class="modal_text" style="font-family: 'Co';"><b>Today's High Score</b></div>
      <div class="modal_text" style="font-size:25px"><b>{{todays_game_data.high_score}}</b></div>

      <br>

      <div class="modal_text" style="font-family: 'Co';"><b>Today's Average Score </b></div>
      <div class="modal_text" style="font-size:25px"><b>{{todays_game_data.average_score}}</b></div>

      <br>

      <hr class="solid" style="width: 75%;">

      <br>

      <div class="modal_text" style="font-family: 'Co';"><b>All Time High Score 🏆</b></div>
      <div class="modal_text" style="font-size:25px"><b>312</b></div>

      <br>

      <div class="modal_text" style="font-family: 'Co';"><b>Perfect Game Count 💯</b></div>
      <div class="modal_text" style="font-size:25px"><b>2</b></div>

    </div>
  </ng-template>
</div>

<!-- TUTORIAL MODAL -->
<div [hidden]="!tutorial_modal_open" class="modal tutorial_modal" id="tutorial_modal">
  <div>
    <div class="header_items" style="display: flex;justify-content: flex-end;">
      <a (click)="tutorialModal(false)">
        <mat-icon style="font-size: 30px; padding-right:15px; padding-top: 10px;">close</mat-icon>
      </a>
    </div>
    <div style="font-size: 30px; text-align: center; font-family: 'Co'"><b>HOW TO PLAY ({{tutorial_step_num}}/3)</b>
    </div>
  </div>

  <!-- STEP 1 -->
  <div *ngIf="tutorial_step_num === 1" id="step_1">
    <div style="display: flex; justify-content:center;margin-top:10px;">
      <img src="/assets/correct_word.gif" alt="image"
        style="width: 80%; height: auto; border: 1px solid gray;border-radius: 5px;">
    </div>
    <div style="display: flex; justify-content:center">
      <div style="padding: 13px;margin-top: 7px; width: 80%; font-size: 18px;">
        Create words by switching out letters one at a time and rearranging them
      </div>
    </div>
  </div>

  <!-- STEP 2 -->
  <div *ngIf="tutorial_step_num === 2" id="step_2">
    <div style="display: flex; justify-content:center;margin-top:10px;">
      <img src="/assets/incorrect_word.gif" alt="image"
        style="width: 80%; height: auto; border: 1px solid gray;border-radius: 5px;">
    </div>
    <div style="display: flex; justify-content:center">
      <div style="padding: 13px;margin-top: 7px; width: 80%; font-size: 18px;">
        If you enter a word that doesn't exist, the game is over
      </div>
    </div>
  </div>

  <!-- STEP 3 -->
  <div *ngIf="tutorial_step_num === 3" id="step_3">
    <div style="display: flex; justify-content:center;margin-top:10px;">
      <img src="/assets/letter_scores.png" alt="image"
        style="width: 80%; height: auto; border: 1px solid gray;border-radius: 5px;">
    </div>
    <div style="display: flex; justify-content:center">
      <div style="padding: 13px;margin-top: 7px; width: 80%; font-size: 18px;">
        The darker the color shade, the more points the letter is worth
      </div>
    </div>
    <br>
  </div>

  <br>

  <div style="display: flex; justify-content:center">
    <button *ngIf="tutorial_step_num > 1" class="control" (click)="navigateTutorialModalStep(false)">&#60; BACK</button>
    <button *ngIf="tutorial_step_num !== 3" class="control" (click)="navigateTutorialModalStep(true)">NEXT ></button>
    <button *ngIf="tutorial_step_num === 3" class="control" (click)="tutorialModal(false)">DONE</button>
  </div>
</div>

<!-- CONTACT MODAL -->
<div [hidden]="!contact_modal_open" class="modal stats_modal" id="contact_modal">
  <div>
    <div class="header_items" style="display: flex;justify-content: flex-end;">
      <a (click)="contactModal(false)">
        <mat-icon style="font-size: 30px; padding-right:15px; padding-top: 10px;">close</mat-icon>
      </a>
    </div>
    <div style="font-size: 30px; text-align: center; font-family: 'Co'"><b>CONTACT</b></div>
  </div>

  <br>
  <br>

  <div>
    <div class="modal_text" style="font-family: 'Co'; display:flex; justify-content: center;"><b>Feedback/Questions?</b>
    </div>
    <a href="mailto:ldimuro@asu.edu?cc=&subject=take5 [insert subject here]"><span
        style="display:flex; justify-content: center;"><u>Email Me!</u></span></a>
  </div>

  <br>

  <div>
    <div class="modal_text" style="font-family: 'Co'; display:flex; justify-content: center;"><b>Like the game?</b>
    </div>
    <a target="_blank" href="https://www.paypal.com/paypalme/loudimuro"><span
        style="display:flex; justify-content: center;"><u>Buy me a coffee ☕️!</u></span></a>
  </div>

</div>


<!-- CORRECT WORDS MODAL -->
<div [hidden]="!words_modal_open" class="modal words_modal" id="words_modal">
  <div>
    <div class="header_items" style="display: flex;justify-content: flex-end;">
      <a (click)="wordsModal(false)">
        <mat-icon style="font-size: 30px; padding-right:15px; padding-top: 10px;">close</mat-icon>
      </a>
    </div>
    <div style="font-size: 30px; text-align: center; font-family: 'Co'"><b>CORRECT WORDS</b></div>
  </div>

  <br>

  <div style="height: 65%; overflow: scroll;" id="word_list">
    <div *ngIf="correct_words.length > 0; else no_words">
      <div *ngFor="let word of correct_words" style="font-family:'Courier New', Courier, monospace; font-size: 30px;">
        <div style="text-align:center;">
          {{word}}
        </div>
      </div>
    </div>
    <ng-template #no_words>
      <div style="font-family:'Courier New', Courier, monospace; font-size: 24px;" class="center">
        No words
      </div>
    </ng-template>
  </div>

  <br>

  <div style="display: flex; justify-content:center">
    <button class="control" (click)="wordsModal(false)">CLOSE</button>
  </div>
</div>



<router-outlet></router-outlet>