/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Domine-Bold";
    src: local("Domine-Bold"), url(./assets/fonts/Domine-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Domine-Regular";
    src: local("Domine-Regular"), url(./assets/fonts/Domine-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Inconsolata-Light";
    src: local("Inconsolata-Light"), url(./assets/fonts/Inconsolata-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Inconsolata-Bold";
    src: local("Inconsolata-Bold"), url(./assets/fonts/Inconsolata-Bold.ttf) format("truetype");
}
